.App {
  text-align: center;
}

nav {
  display: flex;
  background-color: rgb(70, 70, 70);
  color: white;
  align-items: center;
  justify-content: space-around;
  min-height: 10vh;
}

.nav-links {
  width: 40%;
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}